<h2>Edit Order</h2>
<div class="m3">
<%= render "form.html", Map.put(assigns, :action, Routes.order_path(@conn, :update, @order)) %>

<span><%= link "Back", to: Routes.order_path(@conn, :index) ,class: "btn btn-primary"%></span>
</div>
