<h2>Listing Pharmacies</h2>
<div class="mb-3">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pharmacy <- @pharmacies do %>
    <tr>
      <td><%= pharmacy.name %></td>
      <td><%= pharmacy.address %></td>
      <td><%= pharmacy.city %></td>
      <td><%= pharmacy.state %></td>
      <td><%= pharmacy.zip %></td>

      <td>
        <span><%= link "Show", to: Routes.pharmacy_path(@conn, :show, pharmacy) ,class: "btn btn-primary"%></span>
        <span><%= link "Edit", to: Routes.pharmacy_path(@conn, :edit, pharmacy) ,class: "btn btn-primary"%></span>
        <span><%= link "Delete", to: Routes.pharmacy_path(@conn, :delete, pharmacy), method: :delete, data: [confirm: "Are you sure?"] ,class: "btn btn-primary"%></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<br/>
<span><%= link "New Pharmacy", to: Routes.pharmacy_path(@conn, :new) ,class: "btn btn-primary"%></span>
</div>
